@model IEnumerable<AspNetModule1.Models.Employee>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employees", new { id = item.EmployeeId }, new { }) |
                @Html.ActionLink("Details", "Details", "Employees", new { id = item.EmployeeId }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Employees", new { id = item.EmployeeId }, new { })
            </td>
        </tr>
    }
</table>